@import "tailwindcss";

:root {
  /* generated-color-tokens:start */
  --color-base-black: #000000;
  --color-base-white: #ffffff;
  --color-gray-50: #fcfdff;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e2e6eb;
  --color-gray-300: #ccd0d6;
  --color-gray-400: #9ca0a6;
  --color-gray-500: #61666d;
  --color-gray-600: #484c54;
  --color-gray-700: #393f4e;
  --color-gray-800: #262a34;
  --color-gray-900: #0a0c1a;
  --color-blue-50: #eef7ff;
  --color-blue-100: #dfeefe;
  --color-blue-200: #add2fc;
  --color-blue-300: #89bdfb;
  --color-blue-400: #74b1fa;
  --color-blue-500: #579dfa;
  --color-blue-600: #4182d8;
  --color-blue-700: #3373d0;
  --color-blue-800: #154785;
  --color-blue-900: #0f3565;
  --color-red-50: #fcf1f0;
  --color-red-100: #f9dfdf;
  --color-red-200: #eeaeac;
  --color-red-400: #e57570;
  --color-red-500: #e1574e;
  --color-red-600: #cd4f47;
  /* generated-color-tokens:end */

  /* generated-text-tokens:start */
  --text-heading-font-family: pretendard;
  --text-heading-font-weight-bold: 700;
  --text-heading-font-weight-semibold: 600;
  --text-heading-font-weight-medium: 500;
  --text-heading-font-weight-regular: 400;
  --text-heading-3xl-font-size: 36px;
  --text-heading-3xl-line-height: 52px;
  --text-heading-2xl-font-size: 32px;
  --text-heading-2xl-line-height: 48px;
  --text-heading-1xl-font-size: 28px;
  --text-heading-1xl-line-height: 36px;
  --text-heading-lg-font-size: 24px;
  --text-heading-lg-line-height: 28px;
  --text-heading-md-font-size: 22px;
  --text-heading-md-line-height: 32px;
  --text-heading-sm-font-size: 20px;
  --text-heading-sm-line-height: 32px;
  --text-body-font-family: pretendard;
  --text-body-font-weight-bold: 700;
  --text-body-font-weight-semibold: 600;
  --text-body-font-weight-medium: 500;
  --text-body-font-weight-regular: 400;
  --text-body-2xl-font-size: 18px;
  --text-body-2xl-line-height: 28px;
  --text-body-xl-font-size: 17px;
  --text-body-xl-line-height: 28px;
  --text-body-lg-font-size: 16px;
  --text-body-lg-line-height: 24px;
  --text-body-md-font-size: 15px;
  --text-body-md-line-height: 24px;
  --text-body-sm-font-size: 14px;
  --text-body-sm-line-height: 20px;
  --text-title-font-family: pretendard;
  --text-title-font-weight-bold: 700;
  --text-title-font-weight-semibold: 600;
  --text-title-font-weight-medium: 500;
  --text-title-font-weight-regular: 400;
  --text-title-lg-font-size: 60px;
  --text-title-lg-line-height: 72px;
  --text-title-md-font-size: 48px;
  --text-title-md-line-height: 56px;
  --text-title-sm-font-size: 40px;
  --text-title-sm-line-height: 52px;
  --text-caption-font-family: pretendard;
  --text-caption-font-weight-bold: 700;
  --text-caption-font-weight-semibold: 600;
  --text-caption-font-weight-medium: 500;
  --text-caption-font-weight-regular: 400;
  --text-caption-md-font-size: 13px;
  --text-caption-md-line-height: 16px;
  --text-caption-sm-font-size: 12px;
  --text-caption-sm-line-height: 16px;
  /* generated-text-tokens:end */

  /* generated-interactive-tokens:start */
  --color-text-teritary: var(--color-gray-500);
  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-700);
  --color-text-interactive-inverse: var(--color-base-white);
  --color-text-interactive-primary: var(--color-blue-500);
  --color-text-interactive-selected: var(--color-blue-600);
  --color-text-success: var(--color-blue-500);
  --color-text-info: var(--color-blue-600);
  --color-icon-teritary: var(--color-gray-500);
  --color-icon-interactive-inverse: var(--color-base-white);
  --color-icon-interactive-primary: var(--color-blue-500);
  --color-icon-interactive-secondary: var(--color-gray-700);
  --color-icon-interactive-secondary-hovered: var(--color-gray-700);
  --color-icon-inverse: var(--color-base-white);
  --color-icon-brand: var(--color-blue-500);
  --color-icon-info: var(--color-blue-600);
  --color-border-inverse: var(--color-base-white);
  --color-border-focus-ring: var(--color-blue-500);
  --color-border-brand: var(--color-blue-500);
  --color-border-interactive-primary: var(--color-blue-500);
  --color-border-info: var(--color-blue-600);
  --color-bg-interactive-base: var(--color-base-white);
  --color-bg-interactive-primary: var(--color-blue-500);
  --color-bg-interactive-secondary: var(--color-gray-700);
  --color-bg-brand: var(--color-blue-500);
  --color-bg-info: var(--color-blue-500);
  --color-bg-inverse-bold: var(--color-gray-700);
  --color-bg-primary-dark: var(--color-gray-900);
  /* generated-interactive-tokens:end */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pretendard);
  --font-mono: var(--font-geist-mono);

  /* generated-semantic-tokens:start */
  --color-bg-interactive-primary: var(--color-blue-500);
  /* generated-semantic-tokens:end */

  /* generated-typography-tokens:start */
  --font-heading: var(--text-heading-font-family);
  --font-body: var(--text-body-font-family);
  --font-title: var(--text-title-font-family);
  --font-caption: var(--text-caption-font-family);
  /* generated-typography-tokens:end */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Pretendard, Helvetica, sans-serif;
}

/* generated-typography-utilities:start */
@utility title-lg-bold {
  font-size: var(--text-title-lg-font-size);
  line-height: var(--leading-title-lg);
  font-weight: var(--text-title-font-weight-bold);
}
@utility title-lg-semibold {
  font-size: var(--text-title-lg-font-size);
  line-height: var(--leading-title-lg);
  font-weight: var(--text-title-font-weight-semibold);
}
@utility title-lg-medium {
  font-size: var(--text-title-lg-font-size);
  line-height: var(--leading-title-lg);
  font-weight: var(--text-title-font-weight-medium);
}
@utility title-lg-regular {
  font-size: var(--text-title-lg-font-size);
  line-height: var(--leading-title-lg);
  font-weight: var(--text-title-font-weight-regular);
}
@utility title-md-bold {
  font-size: var(--text-title-md-font-size);
  line-height: var(--leading-title-md);
  font-weight: var(--text-title-font-weight-bold);
}
@utility title-md-semibold {
  font-size: var(--text-title-md-font-size);
  line-height: var(--leading-title-md);
  font-weight: var(--text-title-font-weight-semibold);
}
@utility title-md-medium {
  font-size: var(--text-title-md-font-size);
  line-height: var(--leading-title-md);
  font-weight: var(--text-title-font-weight-medium);
}
@utility title-md-regular {
  font-size: var(--text-title-md-font-size);
  line-height: var(--leading-title-md);
  font-weight: var(--text-title-font-weight-regular);
}
@utility title-sm-bold {
  font-size: var(--text-title-sm-font-size);
  line-height: var(--leading-title-sm);
  font-weight: var(--text-title-font-weight-bold);
}
@utility title-sm-semibold {
  font-size: var(--text-title-sm-font-size);
  line-height: var(--leading-title-sm);
  font-weight: var(--text-title-font-weight-semibold);
}
@utility title-sm-medium {
  font-size: var(--text-title-sm-font-size);
  line-height: var(--leading-title-sm);
  font-weight: var(--text-title-font-weight-medium);
}
@utility title-sm-regular {
  font-size: var(--text-title-sm-font-size);
  line-height: var(--leading-title-sm);
  font-weight: var(--text-title-font-weight-regular);
}
@utility heading-3xl-bold {
  font-size: var(--text-heading-3xl-font-size);
  line-height: var(--leading-heading-3xl);
  font-weight: var(--text-heading-font-weight-bold);
}
@utility heading-3xl-semibold {
  font-size: var(--text-heading-3xl-font-size);
  line-height: var(--leading-heading-3xl);
  font-weight: var(--text-heading-font-weight-semibold);
}
@utility heading-3xl-medium {
  font-size: var(--text-heading-3xl-font-size);
  line-height: var(--leading-heading-3xl);
  font-weight: var(--text-heading-font-weight-medium);
}
@utility heading-3xl-regular {
  font-size: var(--text-heading-3xl-font-size);
  line-height: var(--leading-heading-3xl);
  font-weight: var(--text-heading-font-weight-regular);
}
@utility heading-2xl-bold {
  font-size: var(--text-heading-2xl-font-size);
  line-height: var(--leading-heading-2xl);
  font-weight: var(--text-heading-font-weight-bold);
}
@utility heading-2xl-semibold {
  font-size: var(--text-heading-2xl-font-size);
  line-height: var(--leading-heading-2xl);
  font-weight: var(--text-heading-font-weight-semibold);
}
@utility heading-2xl-medium {
  font-size: var(--text-heading-2xl-font-size);
  line-height: var(--leading-heading-2xl);
  font-weight: var(--text-heading-font-weight-medium);
}
@utility heading-2xl-regular {
  font-size: var(--text-heading-2xl-font-size);
  line-height: var(--leading-heading-2xl);
  font-weight: var(--text-heading-font-weight-regular);
}
@utility heading-1xl-bold {
  font-size: var(--text-heading-1xl-font-size);
  line-height: var(--leading-heading-1xl);
  font-weight: var(--text-heading-font-weight-bold);
}
@utility heading-1xl-semibold {
  font-size: var(--text-heading-1xl-font-size);
  line-height: var(--leading-heading-1xl);
  font-weight: var(--text-heading-font-weight-semibold);
}
@utility heading-1xl-medium {
  font-size: var(--text-heading-1xl-font-size);
  line-height: var(--leading-heading-1xl);
  font-weight: var(--text-heading-font-weight-medium);
}
@utility heading-1xl-regular {
  font-size: var(--text-heading-1xl-font-size);
  line-height: var(--leading-heading-1xl);
  font-weight: var(--text-heading-font-weight-regular);
}
@utility heading-lg-bold {
  font-size: var(--text-heading-lg-font-size);
  line-height: var(--leading-heading-lg);
  font-weight: var(--text-heading-font-weight-bold);
}
@utility heading-lg-semibold {
  font-size: var(--text-heading-lg-font-size);
  line-height: var(--leading-heading-lg);
  font-weight: var(--text-heading-font-weight-semibold);
}
@utility heading-lg-medium {
  font-size: var(--text-heading-lg-font-size);
  line-height: var(--leading-heading-lg);
  font-weight: var(--text-heading-font-weight-medium);
}
@utility heading-lg-regular {
  font-size: var(--text-heading-lg-font-size);
  line-height: var(--leading-heading-lg);
  font-weight: var(--text-heading-font-weight-regular);
}
@utility heading-md-bold {
  font-size: var(--text-heading-md-font-size);
  line-height: var(--leading-heading-md);
  font-weight: var(--text-heading-font-weight-bold);
}
@utility heading-md-semibold {
  font-size: var(--text-heading-md-font-size);
  line-height: var(--leading-heading-md);
  font-weight: var(--text-heading-font-weight-semibold);
}
@utility heading-md-medium {
  font-size: var(--text-heading-md-font-size);
  line-height: var(--leading-heading-md);
  font-weight: var(--text-heading-font-weight-medium);
}
@utility heading-md-regular {
  font-size: var(--text-heading-md-font-size);
  line-height: var(--leading-heading-md);
  font-weight: var(--text-heading-font-weight-regular);
}
@utility heading-sm-bold {
  font-size: var(--text-heading-sm-font-size);
  line-height: var(--leading-heading-sm);
  font-weight: var(--text-heading-font-weight-bold);
}
@utility heading-sm-semibold {
  font-size: var(--text-heading-sm-font-size);
  line-height: var(--leading-heading-sm);
  font-weight: var(--text-heading-font-weight-semibold);
}
@utility heading-sm-medium {
  font-size: var(--text-heading-sm-font-size);
  line-height: var(--leading-heading-sm);
  font-weight: var(--text-heading-font-weight-medium);
}
@utility heading-sm-regular {
  font-size: var(--text-heading-sm-font-size);
  line-height: var(--leading-heading-sm);
  font-weight: var(--text-heading-font-weight-regular);
}
@utility body-2xl-bold {
  font-size: var(--text-body-2xl-font-size);
  line-height: var(--leading-body-2xl);
  font-weight: var(--text-body-font-weight-bold);
}
@utility body-2xl-semibold {
  font-size: var(--text-body-2xl-font-size);
  line-height: var(--leading-body-2xl);
  font-weight: var(--text-body-font-weight-semibold);
}
@utility body-2xl-medium {
  font-size: var(--text-body-2xl-font-size);
  line-height: var(--leading-body-2xl);
  font-weight: var(--text-body-font-weight-medium);
}
@utility body-2xl-regular {
  font-size: var(--text-body-2xl-font-size);
  line-height: var(--leading-body-2xl);
  font-weight: var(--text-body-font-weight-regular);
}
@utility body-1xl-bold {
  font-size: var(--text-body-1xl-font-size);
  line-height: var(--leading-body-1xl);
  font-weight: var(--text-body-font-weight-bold);
}
@utility body-1xl-semibold {
  font-size: var(--text-body-1xl-font-size);
  line-height: var(--leading-body-1xl);
  font-weight: var(--text-body-font-weight-semibold);
}
@utility body-1xl-medium {
  font-size: var(--text-body-1xl-font-size);
  line-height: var(--leading-body-1xl);
  font-weight: var(--text-body-font-weight-medium);
}
@utility body-1xl-regular {
  font-size: var(--text-body-1xl-font-size);
  line-height: var(--leading-body-1xl);
  font-weight: var(--text-body-font-weight-regular);
}
@utility body-lg-bold {
  font-size: var(--text-body-lg-font-size);
  line-height: var(--leading-body-lg);
  font-weight: var(--text-body-font-weight-bold);
}
@utility body-lg-semibold {
  font-size: var(--text-body-lg-font-size);
  line-height: var(--leading-body-lg);
  font-weight: var(--text-body-font-weight-semibold);
}
@utility body-lg-medium {
  font-size: var(--text-body-lg-font-size);
  line-height: var(--leading-body-lg);
  font-weight: var(--text-body-font-weight-medium);
}
@utility body-lg-regular {
  font-size: var(--text-body-lg-font-size);
  line-height: var(--leading-body-lg);
  font-weight: var(--text-body-font-weight-regular);
}
@utility body-md-bold {
  font-size: var(--text-body-md-font-size);
  line-height: var(--leading-body-md);
  font-weight: var(--text-body-font-weight-bold);
}
@utility body-md-semibold {
  font-size: var(--text-body-md-font-size);
  line-height: var(--leading-body-md);
  font-weight: var(--text-body-font-weight-semibold);
}
@utility body-md-medium {
  font-size: var(--text-body-md-font-size);
  line-height: var(--leading-body-md);
  font-weight: var(--text-body-font-weight-medium);
}
@utility body-md-regular {
  font-size: var(--text-body-md-font-size);
  line-height: var(--leading-body-md);
  font-weight: var(--text-body-font-weight-regular);
}
@utility body-sm-bold {
  font-size: var(--text-body-sm-font-size);
  line-height: var(--leading-body-sm);
  font-weight: var(--text-body-font-weight-bold);
}
@utility body-sm-semibold {
  font-size: var(--text-body-sm-font-size);
  line-height: var(--leading-body-sm);
  font-weight: var(--text-body-font-weight-semibold);
}
@utility body-sm-medium {
  font-size: var(--text-body-sm-font-size);
  line-height: var(--leading-body-sm);
  font-weight: var(--text-body-font-weight-medium);
}
@utility body-sm-regular {
  font-size: var(--text-body-sm-font-size);
  line-height: var(--leading-body-sm);
  font-weight: var(--text-body-font-weight-regular);
}
@utility body-read-regular {
  font-size: var(--text-body-read-font-size);
  line-height: var(--leading-body-read);
  font-weight: var(--text-body-font-weight-regular);
}
@utility caption-md-bold {
  font-size: var(--text-caption-md-font-size);
  line-height: var(--leading-caption-md);
  font-weight: var(--text-caption-font-weight-bold);
}
@utility caption-md-semibold {
  font-size: var(--text-caption-md-font-size);
  line-height: var(--leading-caption-md);
  font-weight: var(--text-caption-font-weight-semibold);
}
@utility caption-md-medium {
  font-size: var(--text-caption-md-font-size);
  line-height: var(--leading-caption-md);
  font-weight: var(--text-caption-font-weight-medium);
}
@utility caption-md-regular {
  font-size: var(--text-caption-md-font-size);
  line-height: var(--leading-caption-md);
  font-weight: var(--text-caption-font-weight-regular);
}
@utility caption-sm-medium {
  font-size: var(--text-caption-sm-font-size);
  line-height: var(--leading-caption-sm);
  font-weight: var(--text-caption-font-weight-medium);
}
/* generated-typography-utilities:end */
